<!DOCTYPE html> 
<footer>
    <div class="toplink">
     
     <a href="/about" class="footerlinks">ABOUT</a>
     <a href="/contacts" class="footerlinks">CONTACT</a>
    </div>
         <img src="/assets/images/fblogo.png" alt="Logofb" height="20" width="20" class="logos">
         <img src="/assets/images/twitterlogo.png" alt="LogoTwitter" height="20" width="20" class="logos">

 </footer> 