<!DOCTYPE html>
<html lang ="en">
  <head>
<meta charset="UTF-8">
<link href="/assets/styles.css" rel="stylesheet" type="text/css"/>


  <title>Home Page</title>
</head>

<body>
  <%- include ('partials/header.ejs') %>
  <%- include ('partials/nav.ejs') %>
  <%- include ('partials/footer.ejs') %>
 
    <main>
      
        <h1 class="welcome">Welcome to Socializer</h1>

        <p>You are not signed in...Please login to continue
            <li ><a href="login" >Login</a></li>
        </p>
        </main>
       
    </body>

</html>
