<!DOCTYPE html>
<html lang ="en">
  <head>
<meta charset="UTF-8">
<link href="/assets/styles.css" rel="stylesheet" type="text/css"/>


  <title>Home Page</title>
</head>

<body>
  <%- include ('partials/header.ejs') %>
  <%- include ('partials/nav.ejs') %>
  <%- include ('partials/footer.ejs') %>
 
    <main>
      
        <h1 class="welcome">Welcome to Socializer</h1>

        <p>Attend and create Social events to connect with people.This can help you to connect with others who are intrested in something you love to do,or want 
            to try something new.<br>Checkout the connection section to browse available connections
        </p>
        </main>
       
    </body>

</html>
